# Folders
.vscode/
venv/
bin/
build/
dist/
node_modules/
__pycache__/
static/inputs/
static/outputs/
scripts/__pycache__/
scripts_/
scripts_/__pycache__/
utils/__pycache__/


# Only include *.py and *.gitkeep files
processing/*
!processing/*.py
inputs/*
!inputs/*.gitkeep
outputs/*
!outputs/*.gitkeep


# Remove certain filetypes
*.spec
*.txt


# Others
main.py
package-lock.json
package.json




