# Folders
__pycache__/
static/inputs/
static/outputs/
scripts/__pycache__/
scripts_/
scripts_/__pycache__/
scripts/inputs/
scripts/outputs/
utils/__pycache__/
.venv/
.vscode/
node_modules/

# Only include *.py files
processing/*
!processing/*.py

# Others
main.py
main.ipynb
package-lock.json
package.json




