<!DOCTYPE html>
<html lang="en">
<head>
    <title>Media Processing Application - Home</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/main/main.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1 style="text-align: center;">
        Media Processing Application
    </h1>
    <h2 style="text-align: center;">
        Image and Audio File Format Converter
    </h2>
    <div class="cntr">
        <a href="{{ url_for('upload') }}">
            <button>Proceed</button>
        </a>
    </div>
    <br>
</body>
</html>